@import '/src/styles/style.scss';
@import '/src/styles/responsive.scss';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #E1ECFE;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  color: white;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: 0;
  }
}